{% load i18n thumbnail %}

<ul class="news-items">
	{% for news_item in news %}
	<li>
		{% if image and news_item.key_visual_id %}<p class="news-visual"><img src="{% thumbnail news_item.key_visual 200x100 crop %}" alt="" /></p>{% endif %}
		<h3><a href="{{ news_item.get_absolute_url }}">{{ news_item.title }}</a></h3>
		<p class="news-date">{{ news_item.publication_start|date }}</p>
		<p class="news-lead">{{ news_item.lead_in|safe|striptags|truncatewords:"25" }} <a href="{{ news_item.get_absolute_url }}">{% trans "read more" %}</a></p>
	</li>
	{% empty %}
	<li><p class="news-empty">{% trans "No entry found." %}</p></li>
	{% endfor %}
</ul>